<section class="about-us container about-container">
  <div class="about-us-group">
    <div class="about-group-text">
      <h2 class="title">About Us</h2>
      <ul class="about-list">
        <li class="about-text">
          <p class="text">
            The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
            vyshyvanka comes to life with new zest and style. Our store offers a
            wide selection of high-quality and authentic embroidery, which
            combines the elegance of traditional needlework and modern design.
          </p>
        </li>
        <li class="about-text">
          <p class="text">
            In "Vyshyvanka Vibes" you will find various models of embroidery,
            from classic to modern, corresponding to the latest fashion trends.
            Our embroidery is made using natural fabrics and is embroidered by
            highly qualified craftsmen who convey the beauty of Ukrainian
            culture in every detail.We believe that vyshyvanka is not just
            clothing, but a symbol of national pride, the heritage of our
            ancestors and a way of expressing one's individuality. Each
            embroidery from "Vyshyvanka Vibes" has its own unique history and
            symbolism, which gives it a special meaning.
          </p>
        </li>
      </ul>
    </div>
   <!-- <picture>
        <source
        srcset="../img/girl-and-boy-desctop.jpeg 1x, ../img/girl-and-boy-desctop@2x.jpeg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="../img/girl-and-boy-desctop-small.jpeg 1x, ../img/girl-and-boy-desctop-small@2x.jpeg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="../img/girl-and-boy-tab.jpeg 1x, ../img/girl-and-boy-tab@2x.jpeg 2x"
          media="(min-width: 768px)"
        />
        <source
         srcset="../img/girl-and-boy-mob.jpeg 1x, ../img/girl-and-boy-mob@2x.jpeg 2x"
          media="(max-width: 767px)"
        />
        <img
        class="about-img-inner"
          src="../img/girl-and-boy-desctop.jpeg"
          loading="lazy"
          alt="sleeve"
          width="709"
          height="545"
        />
      </picture> -->
    <picture>
      <source
        srcset="
          ./img/girl-and-boy-desctop.jpeg    1x,
          ./img/girl-and-boy-desctop@2x.jpeg 2x
        "
        media="min-width: 1440px"
        loading="lazy"
      />
      <source
        srcset="
          ./img/girl-and-boy-desctop-small.jpeg    1x,
          ./img/girl-and-boy-desctop-small@2x.jpeg 2x
        "
        media="min-width: 1280px"
      />
      <source
        srcset="
          ./img/girl-and-boy-tab.jpeg    1x,
          ./img/girl-and-boy-tab@2x.jpeg 2x
        "
        media="min-width: 768px"
      />
      <source
        srcset="
          ./img/girl-and-boy-mob.jpeg    1x,
          ./img/girl-and-boy-mob@2x.jpeg 2x
        "
        media="min-width: 375px"
      />
      <img
        class="about-img-inner"
        src="./img/girl-and-boy-mob.jpeg"
        alt="Embroidered ornament shirt "
        width="335"
        height="499"
        loading="lazy"
      />
    </picture>
  </div>
</section>
