<footer class="footer">
  <div class="container-footer container">
    <ul class="menu">
      <li class="footer-item">
        <a class="header-menu-link link" href="#about-us">About us</a>
      </li>
      <li class="footer-item">
        <a class="header-menu-link link" href="#our-collection">Our collection</a>
      </li>
      <li class="footer-item">
        <a class="header-menu-link link" href="#customer-order">Customer order</a>
      </li>
      <li class="footer-item">
        <a class="header-menu-link link" href="#testimonials">Testimonials</a>
      </li>
    </ul>
    <div class="container-footer-div">
      <h3 class="global-title title-footer">
        A touch of <span class="ukrainian-span title-footer ">Ukrainian</span> culture in
        every embroidery
      </h3>
    </div>
  </div>
</footer>
