<footer>
  <div class="container-footer">
    <div class="social-footer-container">
      <ul class="menu list">
        <li class="menu-item link">
          <a class="footer-link-class link" href="#about-us">About us</a>
        </li>
        <li class="menu-item link">
          <a class="footer-link-class link" href="#our-collection">Our collection </a>
        </li>
        <li class="menu-item link">
          <a class="footer-link-class link" href="#customer-order">Customer order</a>
        </li>
        <li class="menu-item link">
          <a class="footer-link-class link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </div>
    <picture class="ornament-picture">
      <source srcset="src/img/ornament-your-order-dsctop.png" media="(mi)" />
      <img src="./img/ornament-footer-desctop-small.png" />
    </picture>
    <div class="container-footer-div">
      <h3 class="footer-paragraph-text">
        A touch of Ukrainian culture in every embroidery
      </h3>
    </div>
  </div>
</footer>
