<section class="hero">
    <div class="container hero-container">
      <div class="aaaaaaa">
       <div class="hero-btn-box">
        <h1 class=" global-title hero-global-title">Reviving the traditional<span> Ukrainian</span>  artistry in every stitch.</h1>
            
       <a class="hero-btn link" href="#Your order">Order <svg class="hero-btn-icon" width="26" height="10">
        <use href="../img/symbol-defs.svg#icon-untitled"></use>
        </svg></a> </div>    
        
        <picture class="hero-picture">
          <source
            srcset="./img/hero/girl-desctop.jpeg 1x, ./img/hero/girl-desctop@2x.jpeg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/hero/Girl-tab.jpeg 1x, ./img/hero/Girl-tab@2x.jpeg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/hero/girl-mob.jpeg 1x, ./img/hero/girl-mob@2x.jpeg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/hero/Girl-tab.jpeg"
            alt="Girl"
            width="413"
            height="575"
            class="hero-global-img"
            
          /></div>
      
        </picture></div>
       
       <div class="hero-text-box"><svg class="hero-icon" width="52" height="51">
        <use href="../img/symbol-defs.svg#icon-sun"></use>
        </svg>
        <p class=" text hero-text">all embroidery is made by hand</p>
      </div>
        <img
              srcset="./img/hero/Group-desctop.png 1x, ./img/hero/Group-desctop@2x.png 2x"
                src="./img/hero/Group.png"
                alt="Group"
                width="157"
                height="191"
                class="hero-img"
              />
    </div>
</section>        

      