<section class="hero">
    <div class="container hero-container">
      <div class=""><svg class="hero-icon" width="52" height="51">
        <use href="../img/icons.svg#icon-Star-10"></use>
        </svg>
        <p class="">all embroidery is made by hand</p>
      </div>
      <h1 class="hero-title">Reviving the traditional<span> Ukrainian</span>  artistry in every stitch.</h1>
      <button type="button" class="hero-btn">Order <svg class="hero-btn-icon" width="26" height="10">
        <use href="../img/icons.svg#icon-untitled"></use>
        </svg></button>
        <picture class="hero-picture">
          <source
            srcset="./img/hero/girl.jpg 1x, ./img/hero/girl-2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/hero/Girl-tb.jpg 1x, ./img/hero/Girl-tb-2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/hero/girl.jpg 1x, ./img/hero/girl-2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/hero/Girl-tb.jpg"
            alt="Girl"
            width="413"
            height="575"
            class="hero-img"
          />
        </picture>
        <img
              srcset="./img/hero/Group.jpg 1x, ./img/hero/Group-2x.jpg 2x"
                src="./img/hero/Group.jpg"
                alt="Group"
                width="157"
                height="191"
              />
    </div>
</section>        

      