<!-- section Our collection -->
<section class="collection">
  <div class="container-collection">
    <h2 class="title-section-collection">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-card">
        <picture>
          <source
            srcset="./img/collection-1-desctop.jpg 1x, ./img/collection-1-desctop@2x.jpg 2x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/collection-1-desctop-small.jpg 1x, ./img/collection-1-desctop-small@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/collection-1-tab.jpg 1x, ./img/collection-1-tab@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/collection-1-mob.jpg 1x, ./img/collection-1-mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection-1-desctop.jpg"
            loading="lazy"
            alt="Poltava"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">AUGUST Poltava women's blouseRING</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="./img/image64desk.jpg 1x, ./img/image64desk@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/image64tablet.jpg 1x, ./img/image64tablet@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/image64mob.jpg 1x, ./img/image64mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/image64desk.jpg"
            loading="lazy"
            alt="Women's blouse Gorgany"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Women's blouse Gorgany</h3>
          <p class="price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="./img/image64-2desk.jpg 1x, ./img/image64-2desk@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/image64-2tablet.jpg 1x,
              ./img/image64-2tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/image64-2mob.jpg 1x, ./img/image64-2mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/image64-2desk.jpg"
            loading="lazy"
            alt="Women's blouse Crimea"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Women's blouse Crimea</h3>
          <p class="price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="./img/image65desk.jpg 1x, ./img/image65desk@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./img/image65tablet.jpg 1x, ./img/image65tablet@2x.jpg 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/image65mob.jpg 1x, ./img/image65mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/image65desk.jpg"
            loading="lazy"
            alt="Men's shirt Verkhovina"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Men's shirt Verkhovina</h3>
          <p class="price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="./img/image65-2desk.jpg 1x, ./img/image65-2desk@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/image65-2tablet.jpg 1x,
              ./img/image65-2tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/image65-2mob.jpg 1x, ./img/image65-2mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/image65-2desk.jpg"
            loading="lazy"
            alt="Mountain men's shirt"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Mountain men's shirt</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="./img/image63-2desk.jpg 1x, ./img/image63-2desk@2x.jpg 2x"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/image63-2tablet.jpg 1x,
              ./img/image63-2tablet@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="./img/image63-2mob.jpg 1x, ./img/image63-2mob@2x.jpg 2x"
            media="(max-width: 767px)"
          />
          <img
            src="./img/image63-2desk.jpg"
            loading="lazy"
            alt="Men's shirt Yasen"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Men's shirt Yasen</h3>
          <p class="price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
