<!-- section Our collection -->
<section class="collection">
  <div class="container container-collection">
    <h2 class="title-section-collection">Our collection</h2>
        
    <ul class="collection-list">
      <li class="collection-card">
        <picture>
          <source srcset="./img/collection-1-desctop.jpg 1x, ./img/collection-1-desctop@2x.jpg 2x" media="(min-width: 1440px)"/>
          <source srcset="./img/collection-1-desctop-small.jpg 1x, ./img/collection-1-desctop-small@2x.jpg 2x" media="(min-width: 1280px)"/>
          <source srcset="./img/collection-1-tab.jpg 1x, ./img/collection-1-tab@2x.jpg 2x"  media="(min-width: 768px)"/>
          <source srcset="./img/collection-1-mob.jpg 1x, ./img/collection-1-mob@2x.jpg 2x"  media="(max-width: 767px)"/>
          <img src="./img/collection-1-desctop.jpg" loading="lazy" alt="Poltava" width="335" height="400" class="collection-img index"/>
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">AUGUST Poltava women's blouseRING</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
    
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/collection-2-desctop.jpg    1x,
              ./img/collection-2-desctop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-2-desctop-small.jpg    1x,
              ./img/collection-2-desctop-small@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-2-tab.jpg    1x,
              ./img/collection-2-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-2-mob.jpg    1x,
              ./img/collection-2-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection-2-desctop.jpg"
            loading="lazy"
            alt="Women's blouse Gorgany"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Women's blouse Gorgany</h3>
          <p class="price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/collection-3-desctop.jpg    1x,
              ./img/collection-3-desctop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-3-desctop-small.jpg    1x,
              ./img/collection-3-desctop-small@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-3-tab.jpg    1x,
              ./img/collection-3-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-3-mob.jpg    1x,
              ./img/collection-3-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection-3-desctop.jpg"
            loading="lazy"
            alt="Women's blouse Crimea"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Women's blouse Crimea</h3>
          <p class="price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/collection-4-desctop.jpg    1x,
              ./img/collection-4-desctop@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-4-desctop-small.jpg    1x,
              ./img/collection-4-desctop-small@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-4-tab.jpg    1x,
              ./img/collection-4-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-4-mob.jpg    1x,
              ./img/collection-4-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection-4-desctop.jpg"
            loading="lazy"
            alt="Men's shirt Verkhovina"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Men's shirt Verkhovina</h3>
          <p class="price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/collection-5-desctop.jpeg    1x,
              ./img/collection-5-desctop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-5-desctop-small.jpeg    1x,
              ./img/collection-5-desctop-small@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-5-tab.jpeg    1x,
              ./img/collection-5-tab@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-5-mob.jpeg    1x,
              ./img/collection-5-mob@2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection-5-desctop.jpeg"
            loading="lazy"
            alt="Mountain men's shirt"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Mountain men's shirt</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-card">
        <picture>
          <source
            srcset="
              ./img/collection-6-desctop.jpeg    1x,
              ./img/collection-6-desctop@2x.jpeg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection-6-desctop-small.jpeg    1x,
              ./img/collection-6-desctop-small@2x.jpeg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection-6-tab.jpeg    1x,
              ./img/collection-6-tab@2x.jpeg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection-6-mob.jpeg    1x,
              ./img/collection-6-mob@2x.jpeg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection-6-desctop.jpeg"
            loading="lazy"
            alt="Men's shirt Yasen"
            width="335"
            height="430"
            class="collection-img"
          />
        </picture>
        <div class="collection-card-content">
          <h3 class="title-img">Men's shirt Yasen</h3>
          <p class="price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
 <picture>
          <source srcset="./img/ornament-collection-desctop.png 1x, ./img/ornament-collection-desctop@2x.png 2x" media="(min-width: 1440px)"/>
          <source srcset="./img/ornament-collection-desctop-small.png 1x, ./img/ornament-collection-desctop-small@2x.png 2x" media="(min-width: 1280px)"/>
          <source srcset="./img/ornament-collection-tab.png 1x, ./img/ornament-collection-tab@2x.png 2x"  media="(min-width: 768px)"/>
          <source srcset="./img/ornament-collection-mob.png 1x, ./img/ornament-collection-mob@2x.png 2x"  media="(max-width: 767px)"/>
          <img src="./img/ornament-collection-mob.png" loading="lazy" alt="Ornament" class="collection-ornament"/>
   </picture>   
</section>
