<section class="testimonials" id="testimonials">
  <div class="testimonials__inner container">
    <h2 class="testimonials__title title">Testimonials</h2>
    <ul class="testimonials__list">
      <li class="testimonials__item" tabindex="0">
        <div class="testimonials__img-wrap">
          <img
            src="./img/Maria-Tcacuk.png"
            srcset="./img/Maria-Tcacuk.png 1x, ./img/Maria-Tcacuk@2x.png 2x"
            alt="Customer testimonial: 'Pleasantly surprised by Vyshyvanka Vibes' variety of embroidery."
            width="64"
            height="64"
            loading="lazy"
          />
        </div>
        <div class="testimonials__text-wrap">
          <h3 class="testimonials__subtitle">Maria Tkachuk</h3>
          <p class="testimonials__text text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials__item" tabindex="0">
        <div class="testimonials__img-wrap">
          <img
            src="./img/Sergiy.png"
            srcset="./img/Sergiy.png 1x, ./img/Sergiy@2x.png 2x"
            alt="Customer testimonial: 'Pleasantly surprised by Vyshyvanka Vibes' variety of embroidery."
            width="64"
            height="64"
            loading="lazy"
          />
        </div>
        <h3 class="testimonials__subtitle">Sergey Rybachok</h3>
        <p class="testimonials__text text">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
          simply masterpieces! I fell in love with the quality of the materials
          and the skill of the artisans behind each product. This is my favorite
          embroidery shop where I always find something special and unique.
        </p>
      </li>
      <li class="testimonials__item" tabindex="0">
        <div class="testimonials__img-wrap">
          <img
            src="./img/Natalia.png"
            srcset="./img/Natalia.png 1x, ./img/Natalia@2x.png 2x"
            alt="Customer testimonial: 'Pleasantly surprised by Vyshyvanka Vibes' variety of embroidery."
            width="64"
            height="64"
            loading="lazy"
          />
        </div>
        <h3 class="testimonials__subtitle">Natalia Chatuk</h3>
        <p class="testimonials__text text">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </li>
    </ul>
  </div>
</section>
