/* footer */

.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.1);
}

.container-footer {
  min-height: 649px;
}

.footer {
  background-image: url(../img/ornament-footer-mob.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media (min-device-pixer-ratio: 2),
  (min-resolution: 196dpi),
  (min-resolution: 2dppx) {
  .footer {
    background-image: url(../img/ornament-footer-mob@2x.png);
  }
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  row-gap: 25px;
  max-height: 65px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-item {
  width: fit-content;
}

.ukrainian-span {
  color: #ecd979;
  font-size: 44px;
  font-style: normal;
  line-height: 54px;
  letter-spacing: -1.32px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    min-height: 370px;
  }

  .footer {
    background-image: url(../img/ornament-footer-tab.png);
    background-position: right;
  }

  @media (min-device-pixer-ratio: 2),
    (min-resolution: 196dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/ornament-footer-tab@2x.png);
    }
  }

  .menu {
    min-height: auto;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 25px;
    margin-bottom: 80px;
  }

  .title-footer {
    max-width: 521px;
  }

  .ukrainian-span {
    font-size: 54px;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: -1.62px;
  }
}

@media screen and (min-width: 1280px) {
  .social-footer-container {
    margin-top: 40px;
    margin-left: 100px;
    margin-bottom: 117px;
    margin-right: 366px;
  }

  .footer {
    background-image: url(../img/ornament-footer-desctop-small.png);
  }

  @media (min-device-pixer-ratio: 2),
    (min-resolution: 196dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/ornament-footer-desctop-small@2x.png);
    }
  }

  .menu {
    display: inline-flex;
    align-items: flex-start;
    gap: 25px;
    margin-bottom: 117px;
  }

  .title-footer {
    min-width: 754px;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 74px;
    letter-spacing: -1.92px;
  }
}

@media screen and (min-width: 1440px) {
  .container-footer {
    min-height: 363px;
  }

  .footer {
    background-image: url(../img/ornament-footer-desctop.png);
  }

  @media (min-device-pixer-ratio: 2),
    (min-resolution: 196dpi),
    (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/elements-footer-orn-desctop@2x.png);
    }
  }
}
