/* HEADER */

.header {
}

.header-container {
  display: flex;
  padding-top: 31px;
  padding-bottom: 57px;
}

.logo-img {
}
.header-navigation {
  display: inline-flex;
  align-items: center;
}

.header-menu {
  display: flex; /* display: inline-flex; */
  align-items: flex-start;
  gap: 25px;
}

.header-menu-item {
  color: var(--white, #fcf9f9);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  text-transform: uppercase;
}

.header-menu-link {
  list-style: none;
}

.address {
}
.address-menu {
}
.address-item {
}
.address-link {
}
.soc-menu {
}
.soc-item {
}
.soc-link {
}
.soc-icon {
}
.menu-header-btn {
}
.menu-icon {
}
.mob-menu {
}
.mob-address {
}
.mob-address-menu {
}
.mob-address-item {
}
.mob-address-link {
}
.mob-close-btn {
}
.mob-btn-icon {
}
.mob-header-navigation {
}
.mob-header-menu {
}
.mob-header-menu-item {
}
.mob-menu-img {
}
