/* HERO */
.container {
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
  }
.hero-container{
  
    padding-top: 60px;
    padding-bottom: 80px;
    
}
.hero-text-box{
display: none;
}
/* .hero-global-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} */
.global-title{
color: var(--white, #FCF9F9);
font-size: 44px;
font-weight: 400;
line-height: 1.23; 
letter-spacing: -0.03em;
}
.hero span{
color: var(--white, #ECD979);
}
/* .hero-btn-box{
    display: flex;
    justify-content: center;
} */
.hero-btn{
color: var(--white, #FCF9F9);
font-size: 14px;
font-weight: 600;
line-height: normal;
letter-spacing: -0.56px;
text-transform: uppercase;
border-radius: 15px;
border: 1px solid rgba(252, 249, 249, 0.10);
display: block;
padding: 14px 36px;
transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
max-width: 168px;
height: 50px;
 margin: 20px auto 0;
margin-bottom: 40px; 

}
.hero-btn:hover{
border: 1px solid var(--yellow, #ECD979);
}
.hero-btn-icon{
flex-shrink: 0;
margin-left: 10px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.hero-btn-icon:hover{
transform: rotate(-30deg);    
}
/* .hero-global-img{
    width: 335px;
height: 545px;
flex-shrink: 0;
} */
.hero-img{
display: none;
}
    


    
      @media screen and (min-width: 768px){
        .container {
          max-width: 704px;
        }
        /* .hero{
            position: relative;
        } */
        
        .hero-container{
           
            padding-top: 53px;
            padding-bottom: 50px;
            position: relative;
        }
        .hero-text-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 16px;
            position: absolute;
            right: 0;
            top: 34px;
    
           
            }
        .text{
            color: rgba(252, 249, 249, 0.40);
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.04em;
        }
        .hero-text{
            max-width: 115px;
        }
        
        
        .global-title{
            font-size: 54px;
            line-height: 1.19em;
           
        }
            .hero-global-title{
            max-width: 549px;
        }
        .hero-btn{
            font-size: 16px;
            padding: 14px 39px;
            margin-top: 40px;
           
        } 
        .hero-img{
            display: block;
            position: absolute;
            right: 0;
            bottom: -62px;
            }   
      }
      @media screen and (min-width: 1280px){
        .container {
          max-width: 1082px;
        }
        .hero-container{
        
        padding-top: 58px;
        padding-bottom: 75px;
      }
      
    }
      @media screen and (min-width: 1440px){
        .container {
          max-width: 1240px; }

        .global-title{
            font-size: 64px;
            line-height: 1.16em;
            } 
        }
