.testimonials {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.testimonials__title {
  display: flex;
  align-items: start;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.042em;
  margin-bottom: 40px;
}

.testimonials__list {
  display: flex;
  justify-content: center;
}

.testimonials__item {
  max-width: 340px;
  padding: 0px 18px 18px 18px;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  transition: transform 0.5s, background-color 0.5s, color 0.5s;
}

/* .testimonials__item:hover,
.testimonials__item:focus {
  transform: scale(1.15);
  background-color: var(--white, #fcf9f9);
  color: #1c2225;
} */

.testimonials__item:hover,
.testimonials__item:focus {
  transform: scale(1.15);
  background-color: var(--white, #fcf9f9);
}

.testimonials__item:hover .testimonials__subtitle,
.testimonials__item:focus .testimonials__subtitle,
.testimonials__item:hover .testimonials__text,
.testimonials__item:focus .testimonials__text {
  color: #1c2225;
}

.testimonials__img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-40%);
  margin-bottom: -20px;
}

.testimonials__subtitle {
  color: var(--white, #fcf9f9);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
  text-align: center;
}

.testimonials__text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  max-width: 300px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .testimonials__item:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 1279px) {
  .testimonials__item:nth-child(3) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .testimonials {
    padding: 100px 36px;
  }

  .testimonials__title {
    font-size: 44px;
    line-height: 1.45;
    letter-spacing: -0.03em;
  }

  .testimonials__list {
    gap: 32px;
  }

  .testimonials__text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .testimonials {
    padding: 150px 100px;
  }

  .testimonials__list {
    display: flex;
    justify-content: center;
    gap: 26px;
  }
}

@media screen and (min-width: 1440px) {
  .testimonials__item {
    max-width: 396px;
  }

  .testimonials__text {
    max-width: 360px;
  }
}

/* @media screen and (min-width: 2560px) {
  .testimonials__title {
  }
} */
